
#page-head{
    margin-top: 6%;
    margin-left: 5%;
    text-align: center;
}
#page-bottom{
    margin-top: 7%;
    margin-left: 5%;

}
#user-icon{
    float: right;
    margin-right: 3%;
    margin-top: 1%;
    width: 40px;
    
}
span{
    color:black;
}