<div>
    <mat-card class="col-sm-12" id="page-body">
        <mat-card class="col-sm-3" id="page-head">
            <mat-card class="col-sm-6">
                <img src="assets/images/users.jpg" width="85px">
            </mat-card>
            <div class="col-sm-6">
                <span class="page-head-cont">Users</span>
            </div>
        </mat-card>
        <mat-card class="col-sm-3" id="page-head">
            <mat-card class="col-sm-6">
                <img src="assets/images/p.jpg" width="90px">
            </mat-card>
            <div class="col-sm-6">
                <span class="page-head-cont">Projects</span>
            </div>
        </mat-card>
        <mat-card class="col-sm-3" id="page-head">
            <mat-card class="col-sm-6">
                <img src="assets/images/task1.jpg" width="90px">
            </mat-card>
            <div class="col-sm-6" id="page-head-cont">
                <span class="page-head-cont">Tasks</span>
            </div>
        </mat-card>
        <mat-card class="col-sm-5" id="page-bottom" style="text-align: center;">

            <img src="assets/images/graph.jpg" width="300px">

        </mat-card>
        <mat-card class="col-sm-5" id="page-bottom" style="text-align: center;">
            <img src="assets/images/piechart.jpg" width="180px">
        </mat-card>

    </mat-card>
</div>