<mat-toolbar color="primary">
     <mat-icon *ngIf="logout" >menu</mat-icon>
     <img src="assets\images\users.jpg" style="width: 50px;">
     <!-- <p>Employee Management System</p> -->

     <div class="spacer"></div>

     <button mat-raised-button color="accent" data-toggle="modal" data-target="#myModal" *ngIf="!logout">Login</button>

     <button mat-raised-button color="bg-primary" class="btn" style="float: right;" data-toggle="modal"
          data-target="#myModal" *ngIf="logout">LOGOUT</button>
</mat-toolbar>


<!-- <div class=" container-fluid">
     <div class="row">
          <div class="col-xl-12 col-sm-12">
               <mat-toolbar color="primary" class="fixed" >
                    <img src="assets\images\users.jpg" style="width: 50px;" class="float-left">
                    <h3>Employe Management System</h3>

                    <button mat-raised-button color="bg-primary" class="btn"  data-toggle="modal"
                         data-target="#myModal" *ngIf="!logout">LOGIN</button>
                    <button mat-raised-button color="bg-primary" class="btn" style="float: right;" data-toggle="modal"
                         data-target="#myModal" *ngIf="logout">LOGOUT</button>
               </mat-toolbar>
          </div>
     </div>
</div> -->
<router-outlet></router-outlet>
<!--model-->
<div class="modal" id="myModal">
     <div class="modal-dialog modal-dialog-center">
          <div class="modal-content" style="text-align: center;">
               <div class="modal-header">
                    <button mat-raised-button color="accent" style="font-size: 20px;" type="button" class="close"
                         data-dismiss="modal">X</button>
               </div>
               <div class="modal-body" style="text-align: center;">
                    <h1>Login Details</h1>
                    <mat-form-field class="example-full-width">
                         <input matInput placeholder="Enter username" [(ngModel)]="username" name="username" type="text"
                              matInput fromControllName="name" required>
                    </mat-form-field><br>
                    <mat-form-field>
                         <mat-label>Enter your password</mat-label>
                         <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="pwd" required>
                         <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                              [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                         </button>
                    </mat-form-field>

                    <p *ngIf="valid" id="req">please fill the required fields</p>
                    <div>
                         <a href="#">Forgot Password</a>
                    </div>
                    <div data-backdrap="false">
                         <button mat-raised-button data-backdrap="false" color="primary" type="submit"
                              (click)="login()">Login</button>
                    </div>
                    <div>
                         <p>New to ems?plese <span><a href="#">register</a></span></p>
                    </div>
               </div>
               <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
          </div>



          <!-- Modal -->
          <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
     <div class="modal-dialog" role="document">
          <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" mat-raised-button color="warn" data-dismiss="modal"
                         aria-label="Close">
                         <span aria-hidden="true" style="font-size: 30px;" color="primary">X</span>
                    </button>
               </div>
               <div class="modal-body">
                    <h1 style="text-align: center;">project Creation</h1>
                    <div class="row">
                         <div class="col-sm-6" style="text-align: center; margin-top: 3%;">
                              <h4>project creation</h4>
                         </div>
                         <div class="col-sm-6">
                              <mat-form-field class="example-full-width">
                                   <input matInput>
                              </mat-form-field>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-sm-6" style="text-align: center; margin-top: 3%;">
                              <h4>project creation</h4>
                         </div>
                         <div class="col-sm-6">
                              <mat-form-field class="example-full-width">
                                   <input matInput>
                              </mat-form-field>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-sm-6" style="text-align: center; margin-top: 3%;">
                              <h4>project creation</h4>
                         </div>
                         <div class="col-sm-6">
                              <mat-form-field class="example-full-width">
                                   <input matInput>
                              </mat-form-field>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-sm-6" style="text-align: center; margin-top: 3%;">
                              <h4>project creation</h4>
                         </div>
                         <div class="col-sm-6">
                              <mat-form-field>
                                   <input matInput placeholder="Input">
                              </mat-form-field>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-sm-6" style="text-align: center; margin-top: 3%;">
                              <h4>project creation</h4>
                         </div>
                         <div class="col-sm-6">
                              <mat-form-field>
                                   <input matInput placeholder="Input">
                              </mat-form-field>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-sm-6" style="text-align: center; margin-top: 3%;">
                              <h4>project creation</h4>
                         </div>
                         <div class="col-sm-6">
                              <mat-form-field>
                                   <input matInput placeholder="Input">
                              </mat-form-field>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-sm-6" style="text-align: center; margin-top: 3%;">
                              <h4>project creation</h4>
                         </div>
                         <div class="col-sm-6">
                              <mat-form-field>
                                   <input matInput placeholder="Input">
                              </mat-form-field>
                         </div>
                    </div>
               </div>

               <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

               </div>
          </div>
     </div>
</div>  -->
          <!-- <app-dashboardpage></app-dashboardpage> -->